<h2 style="font-size:40pt;text-align:center">Noober Eats 🥣 🍲</h2>
    <form method="post" action="/">
        <fieldset>
            <legend style="font-size:22pt">Who is ordering?</legend>
            <div>
                <input type="radio" id="🧑" name="caller" value="🧑 Sammy" checked="checked"><label style="font-size:20pt" for="dewey">🧑 Sammy</label><br>
                <input type="radio" id="👴" name="caller" value="👴 Grandpa Bob"><label style="font-size:20pt" for="dewey">👴 Grandpa Bob</label><br>
                <input type="radio" id="👨‍🦰" name="caller" value="👨‍🦰 Richy"><label style="font-size:20pt" for="dewey">👨‍🦰 Richy</label><br>
                <input type="radio" id="👶" name="caller" value="👶 Baby Ben"><label style="font-size:20pt" for="dewey">👶 Baby Ben</label><br>
            </div>
        </fieldset>
        <fieldset>
            <legend style="font-size:22pt">Select food 🥣 🍲:</legend>
            <div>
                <input type="radio" id="🍗" name="restaurant" value="🍗 Kentucky Fried Food" checked="checked"><label style="font-size:20pt" for="dewey">🍗 Kentucky Fried Food</label><br>
                <input type="radio" id="🍟" name="restaurant" value="🍟 McDoniels"><label style="font-size:20pt" for="dewey">🍟 McDoniels</label><br>
                <input type="radio" id="🍕" name="restaurant" value="🍕 Pizza House"><label style="font-size:20pt" for="dewey">🍕 Pizza House</label><br>
                <input type="radio" id="🥙" name="restaurant" value="🥙 Uncle Sam's Kebabs"><label style="font-size:20pt" for="dewey">🥙 Uncle Sam's Kebabs</label><br>
            </div>
        </fieldset>
        <fieldset>
            <legend style="font-size:22pt">Write Address:</legend>
            <div>
                <input type="text" id="🫒" name="address" minlength="4" maxlength="100" size="50" value="1 Dewford Street, Steer Park" placeholder="1 Dewford Street, Steer Park">
            </div>
        </fieldset>
        <input type="submit" value="Submit Order" name="Submit" />
    </form>

